# macOS
.DS_Store

# R session / history
.Rhistory
.RData
.Ruserdata

# RStudio
.Rproj.user/

# Quarto
.quarto/

# Knitr cache
*_cache/
*.utf8.md
/R Shiny/shoreline-access-map/rsconnect
/R Shiny/demographic-moe-map/rsconnect